<div class="row">
  <div class="span4">
    <h4><%= @product.name %></h4>

    <p><%= image_tag(@product.image_url,  width: "150", height: "250") %></p>
    <audio controls>
      <source src=<%= @song.snippet_url %> type="audio/mpeg">
      Your browser does not support this audio format.
    </audio>

    <% if signed_in? %>
      <%= link_to "Add to cart", cart_items_path(:product_id => @product), :method => :post, :class => "btn btn-success" %>
    <% else %>
      <%= link_to "Add to cart", signin_path, :class => "btn btn-success" %>
    <% end %>
  </div>

  <div class="span8">
    <br><br>
    <p><b>Artist: </b><%= @song.artist %></p>
    <p><b>Album: </b><%= @song.album %></p>
    <p><b>Time: </b><%= distance_of_time_in_words(@song.time) %></p>
    <p><b>Description: </b><%= @product.description %></p>
    <p><b>Price: </b><%= number_to_currency(@product.price) %></p>
    <p>
      <b>Vendor: </b><%= link_to Product.find(@product.id).vendor.name, Vendor.find(Product.find(@product.id).vendor) %>,
      <b> Vendor Avg Rating: </b>
      <% Product.find(@product.id).vendor.rating.times do %>
        <i class="fa fa-star"></i>
      <% end %>
    </p>

  </div>
</div>
